.btn-style{
    background-image: url(../images/button.png);
}

.btn-style:hover{
    background-image: url(../images/button.png);
    opacity: 0.7;
}

/* fonts */
@font-face {
    font-family: GameFont;
    src: url(fonts/FOT-Seurat\ Pro\ B.otf);
}

* {
    font-family: GameFont;
}

/* body */
body{
    min-width: 100%;
    min-height: 100%;
}

/* background */
#indexBg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
  }

/* navbar */
nav.container{
    display: flex;
    justify-content: right;
    position: relative;
}

section {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.d-block{
    right: 0;
    left: 0;
    display: flex;
}

/* leaderboard */
#Home p{
    color: rgb(96, 121, 179);
    font-size: 50px;
}

.bg-primary-2{
    background-color: rgb(124, 159, 255);
}

/* Search for Players */
#Players p {
    font-size: 50px;
    background-color: rgb(96, 121, 179);
    color: white;
    border-radius: 50px;
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px){
    #Players p {
        font-size: 30px;
        width: 300px;
    }
}

#search-bar{
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (max-width: 550px){
    #search-bar{
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* about us page */
.about-us{
    padding: 1.5rem;
}

.about-us p{
    display: block;
    margin-block-start: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#AboutUs .d-flex{
    color: white;
    padding-top: 20vh;
    padding-left: 11vw;
}

#AboutUs img{
    object-fit: contain;
    width: 64px;
    height: 64px
}

#AboutUs .icon{
    flex:1 0 0%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    p{
        font-size: 15px;
    }

    #AboutUs img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 880px){
    p{
        font-size: 12px;
    }
    #AboutUs img{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 440px) {
    #AboutUs img {
        display: none;
    }
}

/* footer */
footer{
    line-height: 1.2;
    text-align: center;
    font-size:12px;
    padding: 30px 0 40px;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
}

.mlink{
    margin:10px;
}

.wrapper-links{
    margin: 0 -10px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-links.container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.wrapper-main{
    margin: 10px;
}

/* for game load */
#untilContentLoads {
    position: absolute; 
    width: 100%; 
    height: 100%;
}

/* account */
@media screen and (max-width: 1050px) {
    #Account .acc-nav{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #Account .acc-info {
        width: 22rem;
    }
}

.gamemode {
    transition: all 0.3;
}

.gamemode:hover {
    transform: scale(1.15);
}